<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
  <div class="{{container_class}}">
    <div class="footer-container d-flex align-items-center justify-content-between py-2 flex-md-row flex-column">
      <div>
       CEMA © <script>
        document.write(new Date().getFullYear())

        </script>
        . All Rights Reserved
      </div>
      <div class="d-none d-lg-inline-block">
        <a href="https://deveint.com/" target="_blank" class="footer-link d-none d-sm-inline-block">Powered by Ricky</a>
      </div>
    </div>
  </div>
</footer>
<!-- / Footer -->
